extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Frank Suchwala

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I have an Undergraduate degree in Information Technology with a focus on Gaming and Simulation and a Minor in Business Administration. I recently received my Master's Degree in Instructional Technology and am now taking an Online Tech Degree in Full Stack JavaScript to further expand my skill set.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Javascript
          li Online Course Design
          li Curriculum Design
          li Course Development
          li Information Security
          li Networking 
          li HTML
          li CSS
        h6 Contact Info

        ul
          li 570-380-0122
          li kiesuch@aol.com

        a.button.expanded(href='https://www.linkedin.com/in/frank-suchwala-b2705b12b/') LinkedIn
        a.button.expanded(href='https://github.com/kiesuch') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  